.position-class{
  position: fixed;
  height: 100%;
  width: 100%;
}
.font-size-12{
  font-size: 12px;
}
.text-wrap{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--text-color);
}
.btn-primary:hover {
  background-color: var(--color-secondary);
}

.btn-success {
  background-color: var(--color-success);
  color: var(--text-color);
} 

.btn-success:hover {
  background-color: var(--color-light);
}